body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: "Roboto Slab", sans-serif;
}
body p {
  color: #1c1c1c;
}
body p:hover {
  color: #47478d;
}

#container {
  /* border: 2px solid teal; */
  width: 80%;
  margin: auto;
}
#container > div {
  width: 100%;
}
#navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #ffde2f;
  display: flex;
  justify-content: space-between;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 90px;
}
#logo img {
  width: 100px;
}
#logo > a {
  margin-left: 40px;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #ffde2f;
  font-weight: bold;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
#logo > a:hover {
  background-color: #424444;
  color: white;
  cursor: pointer;
}
#search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
}
#headline {
  display: flex;
  margin: 15px auto;
  background-color: #424444;
}
#headline > div:first-child {
  background-color: #aaaaaa;
  padding: 15px 35px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#headline > div:last-child {
  width: 86%;
  color: white;
  padding: 15px 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
#event {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
#event > img {
  width: 75%;
}

#main {
  border: 2px solid black;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}
#left-section {
  border: 2px solid red;
  padding-top: 10px;
  padding-left: 10px;
  width: 20%;
  margin-top: 15px;
}
#left-section > a {
  text-decoration: none;
  color: black;
}
#left-section > a > div {
  display: flex;
}
#left-section > a > div > p {
  line-height: 10px;
  font-size: 13px;
  padding-left: 10px;
}
#left-section > a > div > img {
  width: 10%;
}
#left-section > a > div:hover {
  background-color: #ffde2f;
}
#list-item {
  text-decoration: none;
  list-style: none;
}
/* ---------------------------------------------------------------------------------------------- */
/* CENTER SECTION CSS STARTS HERE  */
#center-section {
  width: 55%;
  border: 2px solid blue;
  margin: 15px 30px;
  padding-bottom: 20px;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
}
#top-news {
  width: 100%;
  /* border: 2px solid maroon; */
  margin-bottom: 20px;
  background-color: white;
}
#top-news > img {
  width: 100%;
}
#top-news > p {
  margin: 5px;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 18px;
}
#top-news > p:hover {
  color: #47478d;
}
#news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
#news > a > div {
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  display: flex;
  background-color: white;
}
#news > a > div > img {
  width: 25%;
  padding: 10px;
}
#news > a > div > p {
  color: #1c1c1c;
  font-size: 15px;
}
#news > a > div > p:hover {
  color: #47478d;
}

/* video section  */

#video-section > div {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#video-section > div > a > div {
  /* border: 2px solid magenta; */
  background-color: white;
  padding: 5px;
  border-bottom: 2px solid #ffde2f;
}
#video-section > div > a > div > img {
  width: 100%;
}
#video-section > p {
  border-bottom: 2px solid #e5e5e5;
  font-weight: 500;
  font-size: 20px;
  color: #424444;
}
#video-section > p:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ffde2f;
  margin-bottom: -2px;
  max-width: 100px;
  padding-top: 5px;
}
.more-btn {
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
  background-color: white;
  padding: 10px 0px;
  font-weight: bold;
  color: #424444;
  margin: 20px 0px;
}
.more-btn:hover {
  color: #47478d;
  cursor: pointer;
}
/* VIDEO SECTION CSS ENDS HERE  */
/* ---------------------------------------------------------------------------------- */
/* PHOTO SECTION CSS STARTS HERE  */
#photo-section > div {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#photo-section > div > a > div {
  /* border: 2px solid magenta; */
  background-color: white;
  padding: 5px;
  border-bottom: 2px solid #ffde2f;
}
#photo-section > div > a > div > img {
  width: 100%;
}
#photo-section > p {
  border-bottom: 2px solid #e5e5e5;
  font-weight: 500;
  font-size: 20px;
  color: #424444;
}
#photo-section > p:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ffde2f;
  margin-bottom: -2px;
  max-width: 100px;
  padding-top: 5px;
}
.more-btn {
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
  background-color: white;
  padding: 10px 0px;
  font-weight: bold;
  color: #424444;
  margin: 20px 0px;
}
.more-btn:hover {
  color: #47478d;
  cursor: pointer;
}
/* CENTER SECTION CSS ENDS HERE  */
/* --------------------------------------------------------------------------------- */
/* RIGHT SECTION CSS STARTS HERE  */

#right-section {
  width: 24%;
  margin-top: 15px;
  border: 2px solid red;
}
#right-section > div > img {
  width: 100%;
}
/* RIGHT SECTION ENDS HERE  */

/* ------------------------------------------------------------------------------------ */
/* FOOTER CSS  START HERE*/

footer {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #1c1c1c;
  color: #81807a;
}

footer > div {
  height: auto;
  width: 90%;
  margin: auto;
  /* border: 2px solid red; */
  /* display: grid; */
  text-align: center;
  font-size: 13px;
}
.row {
  width: 100%;
  /* margin: auto; */
  /* border: 2px solid seagreen; */
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
#second-div_first_child {
  width: 15%;
}
footer > div > div > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  /* border: 2px solid teal; */
  height: auto;
}

footer > div > div > div:last-child {
  height: auto;
  width: 90%;
  /* border: 2px solid blue; */
}
#second-row > div {
  display: flex;
  flex-direction: column;
}
footer > div > div > div:first-child > img {
  margin: auto;
  width: 100%;
}

.list-item {
  display: flex;
  list-style: none;

  /* color: #81807a; */
}
.list-item > a > li {
  padding: 15px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #81807a;
}
.horizontal-line_footer {
  border: 0.5px solid #414544;
}

/* FOOTER CSS ENDS HERE */
/* ------------------------------------------------------------------------------------- */
